# .gitignore for GitHub Pages repositories using Jekyll and a Gemfile
# Reference: https://github.com/github/pages-gem#conventional

# Basic Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby/Bundler artifacts
/vendor

# GitHub Pages-specific ignore
# GitHub Pages uses its own deployed version of pages-gem
# Therefore, Gemfile.lock is ignored to avoid conflicts
Gemfile.lock
